body{
	margin: 0;
	width: 100vw;
	display: flex;
	background-image: url("https://re-yichen.oss-cn-beijing.aliyuncs.com/picgo/%E5%BC%98%E5%8D%93%E6%A5%BC%E6%96%B0%E5%A4%A7%E9%99%86logo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.g-glossy {
    position: relative;
	margin-top: 5vh;
	margin-left: 5vw;
    width: 90vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    z-index: 10;
	border-radius: 20px;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url($img);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        filter: blur(10px);
        z-index: -1;
    }
}

.form-control {
    display: block;
	margin: 10px auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* IE浏览器下隐藏下拉按钮 */
select::-ms-expand { display: none; }     

/* 定义隐藏下拉框默认样式及图片覆盖下拉按钮 */   
.info-select{
    outline:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    background: no-repeat scroll right center transparent;           
}

#myinput{
	display: inline-block;
	margin: 10px auto;
	height: 34px;
	padding: 0px 12px;
	font-size: 18px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
	outline:none;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	background: no-repeat scroll right center transparent;
	
}

h1{
	text-align: center;
	background: url() repeat fixed center;
	font-size: 5vw;
}
.logo{
	display: block;
	width: 30vw;
	margin: 5vh auto;
}
.mui-input-row{
	display: block;
	margin: 10px auto;
	text-align: center;
	font-size: 17px;
}
.select{
	display: inline-block;
	font-size: 17px;
}
a{
	background-color: #55aaff; /* Green */
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border-radius:6px;
}
a:hover{
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24),0 5px 5px 0 rgba(0,0,0,0.19);
}

.btn-11,
.btn-11 *,
.btn-11 :after,
.btn-11 :before,
.btn-11:after,
.btn-11:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-11 {
	display: block;
	margin: 10px auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #004ea2;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-11:disabled {
  cursor: default;
}
.btn-11:-moz-focusring {
  outline: auto;
}
.btn-11 svg {
  display: block;
  vertical-align: middle;
}
.btn-11 [hidden] {
  display: none;
}
.btn-11 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.3rem 3rem;
  position: relative;
}
.btn-11 span {
  mix-blend-mode: difference;
  color: white;
}
.btn-11:before {
  -webkit-animation: bg-scroll 3s linear infinite;
  animation: bg-scroll 3s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.2) 0.7%,
    transparent 0,
    transparent 4%
  );
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s, background-color 0.2s;
  width: 300%;
}
.btn-11:hover:before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}
.btn-11:active:before {
  background-color: #fff;
}
@-webkit-keyframes bg-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(33%);
  }
}
@keyframes bg-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(33%);
  }
}
